<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>后台登录</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css"/>
    <script src="/static/jquery-3.2.1.js"></script>
</head>

<body>
<form class="layui-form column-content-detail" method="put">
    <input type="hidden" name="id" value="{$roleList.id}">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">管理员编辑</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">角色名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$roleList.name}" required lay-verify="name" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色权限：</label>
                    <div class="layui-input-block">
                        {volist name="ruleList" id='vo'}
                        <input type="checkbox" name="ruleList[{$vo.id}]" title="{$vo.title}"
                               {foreach($roleList.rule as $v)}
                               {$vo.id == $v?'checked':''}
                        {/foreach} >
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否禁用：</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="status" lay-skin="switch" {$roleList.status == 1?'':'checked'}>
                    </div>
                </div>
                <div class="layui-form-item" style="padding-left: 10px;">
                    <div class="layui-input-block">
                        <input class="layui-btn layui-btn-normal" type="button" lay-submit lay-filter="save" value="立即提交">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form(),
            layer = layui.layer;
        $ = layui.jquery;

        //自定义验证规则
        form.verify({
            name: function(value) {
                if(value.length < 3) {
                    return '标题至少得3个字符啊';
                }
            },
        });

        //监听提交
        form.on('submit(save)', function() {
            $.post('/admin/admin_role/save',$('form').serialize(),function (res) {
                if (res.code>0) {
                    layer.alert(res.msg,{icon:2});
                } else {
                    layer.msg(res.msg);
                    setTimeout(function(){parent.window.location.reload();},1000);
                }
            },'json');
            return false;
        });
    });
</script>
</body>

</html>