<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>后台登录</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
    <script src="/static/jquery-3.2.1.js"></script>
</head>

<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>后台系统登录</h3>
        <div class="m-login-warp">
            <form class="layui-form" method="post">
                <div class="layui-form-item">
                    <input type="text" name="username" required lay-verify="username" placeholder="用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required lay-verify="password" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="verity" required lay-verify="verity" placeholder="验证码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline">
<!--                        <img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();" src="/static/admin/images/login/yzm.jpg" />-->
                        <img width="125px" src="{:captcha_src()}"  onclick="this.src='{:captcha_src()}?rand='+Math.random()" alt="captcha">
                    </div>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <input class="layui-btn layui-btn-normal" type="button" lay-submit lay-filter="login" value="登录">
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">fox</p>
    </div>
</div>
<script src="/static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form(),
            layer = layui.layer;
        $ = layui.jquery;

        //自定义验证规则
        form.verify({
            username: function(value) {
                if(value.length < 3) {
                    return '标题至少得3个字符啊';
                }
            },
            password: [/(.+){6,12}$/, '密码必须6到12位'],
            verity: [/(.+){4}$/, '验证码必须是4位'],

        });

        //监听提交
        form.on('submit(login)', function(data) {
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            let username = $.trim($("input[name='username']").val());
            let password = $.trim($("input[name='password']").val());
            let code = $.trim($("input[name='verity']").val());
            $.post('/admin/login/LoginIn',{'username':username,'password':password,'code':code},function (res) {
                if (res.code>0) {
                    layer.alert(res.msg,{icon:2});
                } else {
                    layer.msg(res.msg);
                    setTimeout(function(){window.location.href = '/admin'},1000);
                }
            },'json');
            return false;
        });
    });
</script>
</body>

</html>